$brand: "Mr Green";
$brand-color: $mrgreen;

.card{
    &[data-brand="#{$brand}"] {
        svg path { fill: $brand-color; }
        
        &:hover {
            .card-content {
                background: $brand-color;
                color: #fff;
    
                svg path { fill: #fff; }
            }
        }
    }
}

.portfolio-case__header[data-brand="#{$brand}"] {
    background: $brand-color;
    color: #fff;

    svg { fill: #fff; }
}