// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.portfolio-case {
    &__header {
        padding: 40px 0;

        .portfolio-case__logo {
            max-width: 250px;
            width: 100%;
        }
        hgroup {
            h1, h2, h3 { margin: 0; }
            h2 { font-weight: 400; }
            h3 { font-weight: 300; }
        }
    }
}


// Mr Green
// -----------------------------------------------------------------------------
.mrgreen {
    .portfolio-case__header {
        background: #18723c;
        color: #fff;
    }
}