// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

$case-brand-height: 60px;

.portfolio-case {
    section {
        margin: 3rem 0;
        padding: 5rem 0;
    }
    .secondary-info {
        h2, h3 { line-height: 48px; }
        p { font-size: 18px; }
    }
    
    aside {
        border: 1px solid;
        font-size: 16px;
        margin-bottom: 1rem;
        padding: 16px;
    }

    &__header {
        height: calc(100vh - #{$nav-height});
        z-index: 1000;

        .container { height: 100%; }
        .media { height: 100%; align-items: center; }

        .portfolio-case__logo {
            margin-right: 70px;
            max-width: 250px;
            transform: scale(1);
            transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            width: 100%;
        }
        hgroup {
            h1, h2, h3 { margin: 0; }
            h1 { transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);}
            h2, h3 { transform: scale(1); transition: transform .1s cubic-bezier(0.175, 0.885, 0.32, 1.275);; }
            h2 { font-weight: 400; }
            h3 { font-weight: 300; }
        }


        &--min {
            align-items: center;
            display: flex;
            height: $case-brand-height;
            justify-content: center;
            position: sticky;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 1000;

            $svg-height: 40px;

            svg {
                max-height: $svg-height;
                margin-right: 24px;
            }
            h1 {
                display: inline-block;
                font-size: 20px; 
                font-weight: 300;
                line-height: $svg-height;
                margin: 0;
            }
        }
    }
    .media img { max-width: 500px; }
}
.portfolio-mobile-screen {
    @extend .shadow;

    height: auto;
    max-width: 225px;
}

.phone {
    align-items: center;
    background: url('/assets/img/iphone.png') center center no-repeat;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 248px;

    video {
        background-size: fill;
        clip-path: url(#iphone-screen);
        display: block;
        max-height: 470px;
        max-width: 216px;
        z-index: 1;
    }
}


.dark {
    background-color: #1A1E23;
    color: #F3F5F6;

    aside {
        background-color: rgb(55, 66, 79);
        border-color: rgb(67, 79, 95);
    }
}
.light-grey { background-color: #F4F6F7; }

// Mr Green
// -----------------------------------------------------------------------------
.portfolio-case__header {
    &[data-brand="Mr Green"],
    &--min[data-brand="Mr Green"] {
        background: #18723c;
        color: #fff;

        svg { fill: #fff; }
    }
}
.user-journey { 
    path { fill: rgb(42, 49, 57); }
    circle, text { fill: rgb(42, 49, 57); }
}

// .onboarding {
//     background: #1997a2;
//     color: #fff;
// }
// .limits {
//     background: #a21970;
//     color: #fff;
// }