<footer class="footer pt-4 pb-3 text-center">
    <div class="container">
        <div class="contacts">
            <a href="https://www.instagram.com/mickealmphoto/" target="_blank" title="Photography on Instagram"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="https://www.linkedin.com/in/mickealm/" target="_blank" title="LinkedIn"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="javascript:location='mailto:\u006d\u0069\u0063\u006b\u0065\u0061\u006c\u006d\u0077\u006f\u0072\u006b\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d';void 0" title="Contact me"><ion-icon name="mail"></ion-icon></a>
        </div>
        <p>© Micke Alm, 2019</p>
    </div>
</footer>

<script src="/assets/vendor/js/ScrollMagic.js"></script>
<script src="{{root}}assets/js/custom.js"></script>