<nav class="navbar">
    <div class="container">
        <div></div>
        <div>{{> logo}}</div>
        <div class="navbar-section  navbar-section--contact">
            <ion-icon name="mail"></ion-icon>
            <a href="https://www.linkedin.com/in/mickealm/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
        </div>
    </div>
<!--     
    
    <div class="collapse navbar-collapse" id="navbars-default">
        <ul class="navbar-nav ml-auto align-items-center">
            <li class="nav-item">
                <a class="nav-link active" href="index.html">Link 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Link 3</a>
            </li>
        </ul>
    </div>
    {{> logo}}
    <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-default" aria-controls="navbars-default" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbars-contact">
        <ul class="navbar-nav ml-auto align-items-center">
            <li class="nav-item">
                <a class="nav-link active" href="index.html">Link 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Link 3</a>
            </li>
        </ul>
    </div> -->
</nav>