// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.navbar {
    height: $nav-height;
    padding: 8px;

    svg {
        max-height: 60px;
    }
}



.fixed-top {
    border-bottom: 1px solid $border-outline-color;
}

.navbar-section {
    &--contact {
        font-size: 24px;

        [name="logo-linkedin"] { color: rgb(0, 119, 181); }
    }
}