// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.navbar {
    padding: .5rem 2rem;
}

svg {
    max-width: 75px;
}

.fixed-top {
    border-bottom: 1px solid $border-outline-color;
}

.navbar-section {
    &--contact {
        font-size: 24px;

        [name="logo-linkedin"] { color: rgb(0, 119, 181); }
    }
}