<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}} - Micke Alm</title>
    {{> meta}}
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    {{> navigation}}
    <main role="main">
        {{> body}}
    </main>

    <svg class="iphone-clip-path" width="0" height="0" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216 469"><clipPath id="iphone-screen"><path d="M216,18.09v431c-4.53,13.81-14.47,18.24-28.43,18.15-51.48-.35-103-.1-154.46-.09-3.83,0-7.67,0-11.49-.2-10.1-.61-17.54-6.6-20.48-16.24A25.3,25.3,0,0,0,0,448.09v-428a21.41,21.41,0,0,0,.89-2.3C4,6.31,11.32.46,23.21.14c6.66-.18,13.33,0,20-.14,2.93,0,4.48.93,5.07,4.1,1.95,10.43,5.23,13,15.89,13.05h88c10.63,0,13.79-2.77,16-13.1.31-1.49,2.23-3.76,3.45-3.78C180.27.08,189-.25,197.57.7,207.6,1.81,212.74,9.2,216,18.09Z" /></clipPath></svg>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <!-- <script async src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script> -->
    <!-- <script async src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js"></script> -->

    <!-- build:js -->
    <script defer src="{{root}}assets/vendor/js/ScrollMagic.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js"></script>
    <script defer src="{{root}}assets/js/custom.js"></script>
    <!-- endbuild --> 
</body>

</html>