<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}} - Micke Alm</title>
    {{> meta}}
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    {{> navigation}}
    <main role="main">
        {{> body}}
    </main>

    <!-- build:js -->
    <script src="{{root}}assets/vendor/js/jquery.js"></script>
    <script src="{{root}}assets/vendor/js/ScrollMagic.min.js"></script>
    <script src="{{root}}assets/js/custom.js"></script>
    <!-- endbuild --> 
</body>

</html>